{% extends 'new_dashboard.html' %}
{% block style %}
    <style>

    </style>
{% endblock style %}
{% block content %}
    <br>
    <div class="row" style="justify-content: center">
        <h3 class="lead">Daywise Violations</h3>

    </div>
    <div class="row" style="justify-content: center;">
        <form action="{% url 'detection:daywise' %}" method="post" onsubmit="event.preventDefault();"
              id="date_form">
            {% csrf_token %}
            <h4 class="text-muted lead">
                {% if selected_date %}
                    {{ selected_date }}
                {% else %}
                    Select Date
                {% endif %}
                <button id="dateButton" name="date" type="submit" class="btn btn-default">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 14 16">
                        <path fill-rule="evenodd"
                              d="M13 2h-1v1.5c0 .28-.22.5-.5.5h-2c-.28 0-.5-.22-.5-.5V2H6v1.5c0 .28-.22.5-.5.5h-2c-.28 0-.5-.22-.5-.5V2H2c-.55 0-1 .45-1 1v11c0 .55.45 1 1 1h11c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1zm0 12H2V5h11v9zM5 3H4V1h1v2zm6 0h-1V1h1v2zM6 7H5V6h1v1zm2 0H7V6h1v1zm2 0H9V6h1v1zm2 0h-1V6h1v1zM4 9H3V8h1v1zm2 0H5V8h1v1zm2 0H7V8h1v1zm2 0H9V8h1v1zm2 0h-1V8h1v1zm-8 2H3v-1h1v1zm2 0H5v-1h1v1zm2 0H7v-1h1v1zm2 0H9v-1h1v1zm2 0h-1v-1h1v1zm-8 2H3v-1h1v1zm2 0H5v-1h1v1zm2 0H7v-1h1v1zm2 0H9v-1h1v1z"></path>
                    </svg>
                </button>
                <input type="text" name="selected_date" id="txtDate"
                       style="display: none;" onchange="change_date();">
            </h4>
        </form>
    </div>
    <div class="row" style="justify-content: center;">
        {% if message %}
            <h4 class="display-4">{{ message }}</h4>
        {% elif violations %}
            <table class="table table-responsive table-hover">
                <thead>
                <tr>
                    <th>Vehicle Registration Number</th>
                    <th>Date and Time</th>
                    <th>Location</th>
                    <th>Violation</th>
                    <th>Fine Status</th>
                </tr>
                </thead>
                <tbody>
                {% for row in violations %}
                    <tr>
                        <td>{{ row.vehicle.number }}</td>
                        <td>{{ row.timestamp }}</td>
                        <td>{{ row.camera.location }}</td>
                        <td>{{ row.violation.name }}</td>
                        <td>{{ row.has_paid }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        {% endif %}
    </div>
    <script>

        $('#txtDate').datepicker({
            format: 'dd-mm-yyyy',

        });
        $('#dateButton').click(function () {
            $('#txtDate').show().focus().hide();
        });


        function change_date() {
            var form = document.getElementById('date_form');
            var input = document.createElement('input');
            input.setAttribute('name', 'GO');
            input.setAttribute('type', 'hidden');
            form.appendChild(input);
            form.submit();
        }

    </script>
{% endblock content %}