{% extends 'new_dashboard.html' %}
{% block style %}
    <style>

    </style>
{% endblock style %}
{% block content %}
    <br>
    <div class="row" style="justify-content: center">
        <h3 class="lead">Vehicle Monitoring</h3>
    </div>

    <form action="#">
        <div class="row" style="justify-content: center">
            <div class="col-md-6">
                <div class="row text-muted" style="justify-content: center">
                    Search with Date
                </div>
                <div class="row" style="justify-content: center">

                    <input name="date_search" id="date_search" onchange="search()"/>

                </div>
            </div>
            <div class="col-md-6">
                <div class="row text-muted" style="justify-content: center">
                    Search with Vehicle Number
                </div>
                <div class="row" style="justify-content: center">
                    <input name="vehicle_number" id="vehicle_number" onkeyup="search()">
                </div>
            </div>
        </div>
    </form>

    <script>
        $('#date_search').datepicker({
            format: 'dd-mm-yyyy',

        });

        function search() {

            let date = document.getElementById('date_search').value;
            let vehicle_number = document.getElementById('vehicle_number').value;

            $.ajax({
                url: '{% url 'detection:monitoring' %}',
                data: {
                    'selected_date': date,
                    'vehicle_number': vehicle_number
                },
                type: 'POST',
                success: function (data) {
                    console.log(data);
                }
            });
        }
    </script>

{% endblock content %}